<div class="body">
  <button style="background-color: white;"type="button" align="left" class="btn btn-light" routerLink="/home">Back</button>
</div>
<section class="vh-100 body" >
      <div class="col col-lg-9 col-xl-7">
          <div class="body">
            <h1 align="center">TEAM</h1>
            <table class="table mb-4 body">
              <thead>
                <tr>
                  <th scope="col">Month: </th>
                  <th scope="col">December</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Budget</th>
                  <td>$40</td>
                </tr>
                <tr>
                  <th scope="row">Team Meeting</th>
                  <td> Monday 6 PM</td>
                </tr>
                <tr>
                  <th scope="row">1 ON 1</th>
                  <td>Tuesday 11 AM</td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>
</section>
